-- AlterTable
ALTER TABLE "shipment_status_history" ALTER COLUMN "status" SET DATA TYPE VARCHAR(255);

-- AlterTable
ALTER TABLE "shipments" ALTER COLUMN "current_status" SET DATA TYPE VARCHAR(255);

-- CreateTable
CREATE TABLE "pending_webhook_events" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "official_tracking_id" VARCHAR(100) NOT NULL,
    "provider" VARCHAR(50) NOT NULL,
    "payload" JSONB NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "pending_webhook_events_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "pending_webhook_events_official_tracking_id_idx" ON "pending_webhook_events"("official_tracking_id");

